<p id="notice"><%= notice %></p>

<% if @listing.image.attached? %>
  <%= image_tag @listing.image, alt: @listing.title %>
<% else %>
  <%= image_tag "placeholder.jpg", width: "20%", alt: @listing.title %>
<% end %>

<p>
  <strong>Title:</strong>
  <%= @listing.title %>
</p>

<p>
  <strong>Artist:</strong>
  <%= @listing.artist %>
</p>

<p>
  <strong>Description:</strong>
  <%= @listing.description %>
</p>

<p>
  <strong>Condition:</strong>
  <%= format_label(@listing.condition) %>
</p>

<p>
  <strong>Genre:</strong>
  <%= format_label(@listing.genre) %>
</p>

<p>
  <strong>Price:</strong>
  <%= @listing.price %>
</p>

<p>
  <strong>Sold:</strong>
  <%= @listing.sold %>
</p>

<p>
  <strong>Seller:</strong>
  <%= @listing.user.username %>
</p>

<p>
  <strong>Product type:</strong>
  <%= @listing.product_type.name %>
</p>

<% if @listing.sold %>
  <h4>Sold</h4>
<% elsif current_user && @listing.user_id != current_user.id %>
  <%= button_to "Purchase", new_order_path %>
<% elsif !current_user %>
  <h4>Please log in to purchase</h4>
<% end %>

<% if current_user && @listing.user_id == current_user.id %>
  <%= link_to 'Edit', edit_listing_path(@listing) %> |
<% end %>
<%= link_to 'Back', listings_path %>
